/* COLORS DEFINITON */
:root{
    --primary: #222831;
    --secondary: #393E46;
    --text: #EEEEEE;
    --detail: #00ADB5;
    --highlight:#00f4ff;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--primary);
}

#banner{
    background-color: var(--secondary);
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.tile{
    outline: 1px solid white;
}