/* COLORS DEFINITON */
:root{
    --primary: #222831;
    --secondary: #393E46;
    --text: #EEEEEE;
    --detail: #00ADB5;
    --highlight:#00f4ff;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--secondary);
}

#banner{
    animation: background-pan 5s linear infinite;
    background: linear-gradient(
        90deg,
        var(--highlight),
        rgb(0,200,0),
        var(--highlight)
    );
    background-size:200%;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.tile{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nestedTile{
    cursor: pointer;
    height:95%;
    width:95%;
    background-color: var(--primary);
    transition: background-color 0.3s;
}

.nestedTile:hover{
    background-color: #445662;
}

@media only screen and (max-width:1500px){
    .nestedTile{
        height:90% !important;
        width:90% !important;
    }
}

@media only screen and (max-width:500px){
    .nestedTile{
        height:100% !important;
        width:100% !important;
    }
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

.logoTile{
    opacity: 1 !important;
}

#pointerImage{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 300%;
    height: 300%;
    z-index: 10;
}

#content{
    width: 100%;
}

#footer{
    width: 100%;
    font-size: 1.61vmax;
    padding: 1% 0 1% 0;
    text-align: center;
    color: var(--text);
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-color: var(--primary);
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 0.2rem 0.2rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr;
    grid-template-areas: 
        "contact_header contact_header contact_header"
        "github mail linkedin";
}

#contact_header{
    grid-area: contact_header;
    width:30%;
    font-size: 2vmax;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--detail);
}

#github{
    grid-area: github;
}

#mail{
    grid-area: mail;
}

#linkedin{
    grid-area: linkedin;
}
